<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">


                <div class="row">
                    <div class="col-8">
                        <h4 class="card-title">Medicos (15)</h4>
                        <h6 class="card-subtitle">
                            Medicos registrados en mi aplicación
                        </h6>
                    </div>

                    <div class="col">
                        <div class="text-right">
                            <a class="btn btn-primary" routerLink="/dashboard/medico/nuevo">
                                <i class="fa fa-hospital-o"></i> Crear médico
                            </a>
                        </div>
                    </div>

                </div>



                <div class="table-responsive">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th class="w100">Foto</th>
                                <th>Nombre</th>
                                <th class="w100 text-nowrap">Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="text-center">
                                    <img src="assets/images/users/1.jpg" alt="medico.nombre" width="50" class="round">
                                </td>
                                <td>
                                    medico.nombre
                                </td>

                                <td class="text-nowrap text-center">
                                    <a data-toggle="tooltip">
                                        <i class="fas fa-pencil-alt text-inverse m-r-10"></i>
                                    </a>

                                    <a class="cursor" data-toggle="tooltip">
                                        <i class="fa fa-times text-danger"></i>
                                    </a>
                                </td>
                            </tr>

                        </tbody>
                    </table>
                </div>
                <!-- 
                <button class="btn btn-secondary">Anteriores</button>
                &nbsp;
                <button class="btn btn-secondary">Siguientes</button> -->

            </div>
        </div>
    </div>
</div>


<div class="row">

    <div class="col-md-9">
        <app-sales-graph></app-sales-graph>
    </div>
    <div class="col-md-3">
        <app-visit-graph></app-visit-graph>
    </div>



    <div class="col-md-6">
        <app-project-of-month></app-project-of-month>
    </div>
    <div class="col-md-6">
        <app-contacts></app-contacts>
    </div>


    <div class="col-md-4">
        <app-cards></app-cards>
    </div>

    <div class="col-md-8">
        <app-website-graph></app-website-graph>
    </div>


</div>